<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title-1">Document</title>
    
</head>

<body>
    <h1 id="patient-1">
        Patient Registration System
    </h1>
    <h2 id="patient-2">
        Another Patient
    </h2>
    <div id="formContainer">
        <label for="nameInput">
            Name:
        </label>
        <input type="text" id="nameInput" 
            placeholder="Enter Name...">
        
        <label for="roleInput">
            Role:
        </label>
        <input type="text" id="roleInput" 
            placeholder="Enter Role">
        <br>
        <button onclick="usdFunction()">USD</button>
        <p id = "usd"></p>
        <button onclick="eurFunction()">EUR</button>
        <p id="eur"></p>
        <button onclick="gbpFunction()">GBP</button>
        <p id="gbp"></p>
    </div>

    <table id="outputTable">
        <tr>
        </tr>
    </table>
    <script>
        let usd = document.getElementById('usd');
        let eur = document.getElementById('eur');
        function usdFunction() {
            return fetch("http://localhost:8000/price/usd/")
            .then(response => response.json())
            .then(data => {
                usd.innerHTML = data.message;
                // document.getElementById("usd").innerHTML = data.message;
            })
        }
        function eurFunction() {
            return fetch("http://localhost:8000/price/eur/")
            .then(response => response.json())
            .then(data => {
                eur.innerHTML = data.message;
            })
        }
        function gbpFunction() {
            return fetch("http://localhost:8000/price/gbp/")
            .then(response => response.json())
            .then(data => {
                gbp.innerHTML = data.message;
            })
        }
        fetch('http://localhost:8000/')
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                document.getElementById('patient-1').textContent = data.message;
            })
        
        fetch('http://localhost:8000/pricelist/')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                console.log('Data received:', data);
                document.getElementById('patient-2').textContent = data
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            })
    </script> 
</body>
</html>