<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <h1 id="patient-1">
        Patient Registration System
    </h1>
    <div id="formContainer">
        <label for="nameInput">
            Name:
        </label>
        <input type="text" id="nameInput" 
            placeholder="Enter Name...">
        
        <label for="roleInput">
            Role:
        </label>
        <input type="text" id="roleInput" 
            placeholder="Enter Role">
        <br>
        <button onclick="addData()">Add</button>
    </div>

    <table id="outputTable">
        <tr>
        </tr>
    </table>
    <!-- <script src="/frontend/script.js"></script> -->
    <script>
        // import cors from 'cors';
        //const cors = require('cors');
        // app.use(cors())
        // --------------------------------------------
        // const express = require('express');
        // const app = express();

        // app.get("http://localhost:8000/", function (req, res) {
        //     res.send("Hello world");
        // });

        fetch('http://localhost:8000/')
            .then(response => response.json())
            .then(data => console.log(data))
        //import cors from 'cors';
        // -----
        // const {cors} = require('cors');
        // export default function(app) {
        //     fetch('http://localhost:8000/')
        //     .then(response => {return response.json()})
        //     .then(data => {
        //         data.getData()
        //     })
        // }
        

        async function getData(){
            const response = await fetch('https://api.coindesk.com/v1/bpi/currentprice.json')
            // console.log(response);
            const patient = await response.json();
            // console.log(patient);

            console.log(patient.bpi.USD.rate);
            document.getElementById('patient-1').textContent = patient.bpi.USD.rate;
        }
        getData()
    </script> 
</body>
</html>